{:remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? true
 :insert-missing-whitespace? true
 :align-associative? false
 :indents {#re "^(?!catch-kondo-errors).*" [[:block 0]]
           catch-kondo-errors [[:inner 0]]}
 :test-code
 (comment
   (:require
    [])
   (:require []
             [])
   (:clj
    [])
   (reg-event-fx
    :foo
    (fn [{db :db} _]))
   (reg-sub
    :foo
    (fn [db [_]])))}
