/.idea
/.lein-repl-history
/.lein-failures
.nrepl-port
**/.lsp/.cache
/.clj-kondo/.cache
/cli/.clj-kondo/
/out
target/
/classes
/.DS_Store
/.cpcache
/node_modules
/test.clj
/.calva/output-window
/clojure-lsp
/*.jar
clojure-lsp.build_artifacts.txt
lib/clojure-lsp.integration-test.out
cli/integration-test/sample-test/clojure-lsp.integration-test.out

/.classpath
/.project
/.settings/
/reports

/.lh
output.calva-repl

result

# emacs
*~
