/.idea
/.lein-repl-history
/.lein-failures
.nrepl-port
/.lsp/.cache
/.clj-kondo/.cache
/out
/target
/classes
/.DS_Store
/.cpcache
/node_modules
/test.clj
/.calva/output-window
/clojure-lsp
/*.jar
clojure-lsp.build_artifacts.txt

/.classpath
/.project
/.settings/
/reports

/.lh
output.calva-repl
