/.idea
/.lein-repl-history
/.lein-failures
.nrepl-port
/.lsp/*.db
/integration-test/sample-test/.lsp
/integration-test/sample-test/.cpcache
/integration-test/sample-test/target
/out
/target
/classes
/.DS_Store
/.cpcache
/node_modules
/test.clj
/.clj-kondo/.cache
/.clj-kondo/cache
/.calva/output-window
/clojure-lsp
/clojure-lsp.jar
.dir-locals.el
clojure-lsp.build_artifacts.txt
