{:paths ["scripts"
         "cli/integration-test"]
 :deps {borkdude/gh-release-artifact {:git/url "https://github.com/borkdude/gh-release-artifact"
                                      :git/sha "4a9a74f0e50e897c45df8cc70684360eb30fce80"}

        medley/medley {:mvn/version "1.4.0"}
        com.github.clojure-lsp/lsp4clj {:mvn/version "1.10.0"
                                        #_#_:local/root "../../lsp4clj"}
        org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "951b49b8c173244e66443b8188e3ff928a0a71e7"}}
 :min-bb-version "0.8.156"
 :tasks {get-last-changelog-entry ci/get-last-changelog-entry
         release-artifact clojure-lsp.release-artifact/release

         clean make/clean

         lib-pom make/lib-pom
         cli-pom make/cli-pom

         lib-jar make/lib-jar
         server-jar make/server-jar
         server-install make/server-install
         standalone-install make/standalone-install
         cli-debug-jar make/cli-debug-jar
         cli-prod-jar make/cli-prod-jar

         debug-cli make/debug-cli
         prod-cli make/prod-cli
         native-cli make/native-cli
         native-cli-pgo-instrument make/native-cli-pgo-instrument

         test-reflection make/test-reflection
         test-lib make/test-lib
         test-cli make/test-cli
         test {:doc "Run all unit tests."
               :depends [test-reflection test-lib test-cli]}

         pod-test make/pod-test
         integration-test make/integration-test

         lint-clean make/lint-clean
         lint-format make/lint-format
         lint-diagnostics make/lint-diagnostics
         lint-fix make/lint-fix
         lint {:doc "Run all linters in dry mode."
               :task (doseq [linter '[lint-clean lint-format lint-diagnostics]]
                       (println :running-task linter)
                       (run linter))}

         release make/release

         deploy-clojars make/deploy-clojars
         deploy-clojars-standalone make/deploy-clojars-standalone

         local-webpage make/local-webpage}}
