{:paths []
 :aliases {:dev {:extra-paths ["lib/src"
                               "cli/src"]
                 :extra-deps {clojure-lsp/lib {:local/root "lib"}
                              clojure-lsp/cli {:local/root "cli"}
                              io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build.git"
                                                             :tag "v0.10.5"
                                                             :sha "2a21b7a"}}}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
                  :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                  :extra-paths ["lib/src"
                                "cli/src"
                                "common-test/src"
                                "lib/test"
                                "cli/test"]
                  :main-opts ["-m" "kaocha.runner"]}
           :debug {:extra-paths ["cli/dev"]}}}
