{:paths ["integration-test"]
 :min-bb-version "0.4.0"
 :deps {medley/medley {:mvn/version "1.4.0"}
        com.github.clojure-lsp/lsp4clj {:mvn/version "1.12.0"
                                        #_#_:local/root "../../lsp4clj"}
        org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "b6eb0f2208ab036c0a5d0e7235cb0b09d2feabb7"}}
 :tasks {integration-test entrypoint/run-all}}
