{:paths ["integration-test"]
 :min-bb-version "0.4.0"
 :deps {medley/medley {:mvn/version "1.4.0"}
        com.github.clojure-lsp/lsp4clj {:mvn/version "1.3.1"}
        ;; com.github.clojure-lsp/lsp4clj {:local/root "../../lsp4clj"}
        org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "8df0712896f596680da7a32ae44bb000b7e45e68"}}
 :tasks {integration-test entrypoint/run-all}}
