{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/java.data {:mvn/version "1.0.95"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.eclipse.xtend/org.eclipse.xtend.lib {:mvn/version "2.25.0"}
        org.eclipse.lsp4j/org.eclipse.lsp4j {:mvn/version "0.12.0"  :exclusions [org.eclipse.xtend/org.eclipse.xtend.lib
                                                                                 com.google.code.gson/gson]}
        com.google.code.gson/gson {:mvn/version "2.9.0"}
        borkdude/dynaload {:mvn/version "0.2.2"}
        nrepl/bencode {:mvn/version "1.1.0"}
        clojure-lsp/lib {:local/root "../lib"}}
 :paths ["src" "resources" "target/lsp-classes"]
 :aliases {:test {:extra-deps {clojure-lsp/common-test {:local/root "../common-test"}
                               lambdaisland/kaocha {:mvn/version "1.60.977"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}
           :pod-test
           {:replace-paths ["pod-test"]
            :replace-deps {com.cognitect/transit-clj {:mvn/version "1.0.329"}
                           cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                  :sha "cc75980b43011773162b485f46f939dc5fba91e4"}
                           babashka/babashka.pods {:git/url "https://github.com/babashka/babashka.pods"
                                                   :sha "538fc6f4147badf3a457b3eb8f9f95dd3bc947b1"}}
            :main-opts ["-m" "cognitect.test-runner" "-d" "pod-test"]}
           :build {:extra-paths ["../lib/resources"]
                   :replace-deps {io.github.clojure/tools.build {:tag "v0.7.5" :sha "34727f7"}
                                  com.github.ericdallo/deps-bin {:mvn/version "0.1.1"}
                                  slipset/deps-deploy {:mvn/version "0.2.0"}
                                  com.google.guava/guava {:mvn/version "31.0.1-jre"}}
                   :ns-default build}
           :run {:main-opts ["-m" "clojure-lsp.main"]
                 :jvm-opts ["-Xmx2g" "-server"]}
           :debug {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                                cider/cider-nrepl {:mvn/version "0.28.2"}}}
           :native {:jvm-opts ["-Xmx2g"
                               "-server"
                               "-Dborkdude.dynaload.aot=true"
                               "-Dclojure.compiler.direct-linking=true"
                               "-Dclojure.spec.skip-macros=true"]
                    :extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}}}
