{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/java.data {:mvn/version "1.0.95"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.eclipse.xtend/org.eclipse.xtend.lib {:mvn/version "2.27.0"}
        org.eclipse.lsp4j/org.eclipse.lsp4j {:mvn/version "0.12.0"  :exclusions [org.eclipse.xtend/org.eclipse.xtend.lib
                                                                                 com.google.code.gson/gson]}
        com.google.code.gson/gson {:mvn/version "2.9.0"}
        borkdude/dynaload {:mvn/version "0.2.2"}
        nrepl/bencode {:mvn/version "1.1.0"}
        com.taoensso/timbre {:mvn/version "5.2.1"}
        com.github.clojure-lsp/lsp4clj-server {:mvn/version "0.3.0"}
        ;; com.github.clojure-lsp/lsp4clj-server {:local/root "../../lsp4clj/server"}
        clojure-lsp/lib {:local/root "../lib"}}
 :paths ["src" "resources" "target/lsp-classes"]
 :aliases {:test {:extra-deps {clojure-lsp/common-test {:local/root "../common-test"}
                               lambdaisland/kaocha {:mvn/version "1.64.1010"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}
           :pod-test
           {:replace-paths ["pod-test"]
            :replace-deps {com.cognitect/transit-clj {:mvn/version "1.0.329"}
                           cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                  :sha "cc75980b43011773162b485f46f939dc5fba91e4"}
                           babashka/babashka.pods {:git/url "https://github.com/babashka/babashka.pods"
                                                   :sha "e075b13bfe3666a73f82c12817bdf5f1d6c692e3"}}
            :main-opts ["-m" "cognitect.test-runner" "-d" "pod-test"]}
           :build {:extra-paths ["../lib/resources"]
                   :replace-deps {io.github.clojure/tools.build {:tag "v0.8.1" :sha "7d40500"}
                                  com.github.ericdallo/deps-bin {:mvn/version "0.1.2"}
                                  slipset/deps-deploy {:mvn/version "0.2.0"}
                                  com.google.guava/guava {:mvn/version "31.1-jre"}}
                   :ns-default build}
           :run {:main-opts ["-m" "clojure-lsp.main"]
                 :jvm-opts ["-Xmx2g" "-server"]}
           :debug {:extra-paths ["dev"]
                   :extra-deps {cider/cider-nrepl {:mvn/version "0.28.3"}
                                com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                                com.clojure-goes-fast/clj-memory-meter {:mvn/version "0.1.3"}
                                criterium/criterium {:mvn/version "0.4.6"}
                                nrepl/nrepl {:mvn/version "0.9.0"}}
                   :jvm-opts   ["-Djdk.attach.allowAttachSelf"]}
           :native {:jvm-opts ["-Xmx2g"
                               "-server"
                               "-Dborkdude.dynaload.aot=true"
                               "-Dclojure.compiler.direct-linking=true"
                               "-Dclojure.spec.skip-macros=true"]
                    :extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}}}
