{"cljfmt" {:indents {#re ".*" [[:block 0]]
                     ns [[:inner 0] [:inner 1]]
                     and [[:inner 1]]
                     or [[:inner 1]]
                     are [[:inner 0]]}}
 "clj-kondo" {:linters {:unused-namespace {:exclude [clojure.tools.logging]}}}
 "use-metadata-for-privacy?" true}
