{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.google.code.gson/gson {:mvn/version "2.8.9"}
        com.google.guava/guava {:mvn/version "31.0.1-jre"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        borkdude/rewrite-edn {:mvn/version "0.1.0" :exclusions [rewrite-clj/rewrite-clj]}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        borkdude/dynaload {:mvn/version "0.2.2"}
        datalevin/datalevin {:mvn/version "0.5.27"}
        org.clojure/java.data {:mvn/version "1.0.95"}
        cljfmt/cljfmt {:mvn/version "0.8.0"
                       :exclusions [rewrite-cljs/rewrite-cljs
                                    com.googlecode.java-diff-utils/diffutils]}
        com.googlecode.java-diff-utils/diffutils {:mvn/version "1.3.0"}
        nrepl/bencode {:mvn/version "1.1.0"}
        medley/medley {:mvn/version "1.3.0"}
        anonimitoraf/clj-flx {:mvn/version "1.2.0"}
        clj-kondo/clj-kondo {:mvn/version "2022.01.13"}
        com.github.clj-easy/stub {:mvn/version "0.1.1"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["cli"
                               "core"]}
           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.60.972"}}
                  :extra-paths ["test" "src-cli" "classes"]
                  :main-opts ["-m" "kaocha.runner"]}
           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                 :exec-fn hf.depstar/uberjar
                 :exec-args {:jar "clojure-lsp.jar"
                             :sync-pom true
                             :jvm-opts ["-Xmx2g" "-server"]}}}}
