{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.767-alpha"}
        borkdude/rewrite-edn {:mvn/version "0.2.0" :exclusions [rewrite-clj/rewrite-clj]}
        org.clojure/core.async {:mvn/version "1.5.648"}
        cljfmt/cljfmt {:mvn/version "0.8.0"
                       :exclusions [rewrite-cljs/rewrite-cljs
                                    com.googlecode.java-diff-utils/diffutils]}
        com.googlecode.java-diff-utils/diffutils {:mvn/version "1.3.0"}
        medley/medley {:mvn/version "1.4.0"}
        anonimitoraf/clj-flx {:mvn/version "1.2.0"}
        clj-kondo/clj-kondo {:mvn/version "2022.04.08"
                             :exclude [com.cognitect/transit-clj
                                       babashka/fs]}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}
        com.github.clj-easy/stub {:mvn/version "0.2.3"}
        org.benf/cfr {:mvn/version "0.152"}
        babashka/fs {:mvn/version "0.1.4"}
        com.github.clojure-lsp/lsp4clj-protocols {:mvn/version "0.0.1"}}
 :paths ["src" "resources"]
 :aliases {:test {:extra-deps {clojure-lsp/common-test {:local/root "../common-test"}
                               lambdaisland/kaocha {:mvn/version "1.65.1029"}
                               com.taoensso/timbre {:mvn/version "5.2.1"}}
                  :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}
           :build {:extra-paths ["resources"]
                   :deps {io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build.git"
                                                         :tag "v0.8.1"
                                                         :sha "7d40500"}
                          slipset/deps-deploy {:mvn/version "0.2.0"}}
                   :ns-default build}}}
