:root {
  --md-primary-fg-color: #5881D8;
  --md-accent-fg-color: #91DC47;
  --md-default-fg-color--light: #63B132;
}

.md-footer {
  --md-default-fg-color: #5881D8;
  background-color: var(--md-default-fg-color);
}

.md-grid {
  max-width: 70rem;
}

.md-typeset a {
  color: #63B132;
}
