name: Bump dependencies

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'deps-lock.json'
      - '.github/workflows/ci.yml'
      - '.github/workflows/bump_downstreams.yml'
      - '.github/workflows/nightly.yml'
      - '.github/workflows/docs.yml'
      - '.github/workflows/release.yml'

jobs:
  check-deps-and-bump:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2.2.0
      with:
        fetch-depth: 0

    - name: Cache dependencies
      uses: actions/cache@v3
      env:
          cache-name: clojure-deps
      with:
          path: ~/.m2
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/deps-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}

    - name: Check deps
      uses: nnichols/clojure-dependency-update-action@v4
      with:
        skips: "pom github-action"
        directories: "cli lib"
        git-username: clojure-lsp-bot
        github-token: ${{ secrets.CLOJURE_LSP_BOT_TOKEN }}
