name: Bump dependencies

on: [push]

jobs:
  check-deps-and-bump:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Check deps
      uses: nnichols/clojure-dependency-update-action@v3
      with:
        github-token: ${{ secrets.CLOJURE_LSP_BOT_TOKEN }}
