name: Bump dependencies

on: [push]

jobs:
  check-deps-and-bump:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.2.0
      with:
        fetch-depth: 0

    - name: Check deps
      uses: nnichols/clojure-dependency-update-action@679163d5c8b407342c79a9176d2d559bd1a83e83
      with:
        skips: "pom"
        directories: "cli lib"
        git-username: clojure-lsp-bot
        github-token: ${{ secrets.CLOJURE_LSP_BOT_TOKEN }}
