name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
      - 'resources/CLOJURE_LSP_VERSION'
      - 'docs/**'
      - 'images/**'
      - 'mkdocs.yml'
      - '.github/workflows/bump_deps.yml'
      - '.github/workflows/bump_homebrew.yml'
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
      - 'resources/CLOJURE_LSP_VERSION'
      - 'docs/**'
      - 'images/**'
      - 'mkdocs.yml'
      - '.github/workflows/bump_deps.yml'
      - '.github/workflows/bump_homebrew.yml'

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 15]
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master

      - name: Run tests
        run: make test

  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 15]
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master

      - name: Install Babashka
        run: curl -s https://raw.githubusercontent.com/borkdude/babashka/master/install | sudo bash

      - name: Generate embedded binary
        run: make prod-bin

      - name: Run integration tests
        run: bb integration-test/run-all.clj ./target/clojure-lsp
