name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - 'docs/**'
      - '.github/workflows/bump_deps.yml'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/README.md'
      - 'docs/**'
      - '.github/workflows/bump_deps.yml'

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 15]
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}

      - name: Install leiningen
        uses: DeLaGuardo/setup-clojure@master
        with:
          lein: 2.9.5

      - name: Run tests
        run: lein test
