name: Docs

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'deps-lock.json'
      - 'lib/resources/CLOJURE_LSP_VERSION'
      - 'lib/resources/CLOJURE_LSP_RELEASED_VERSION'
      - '.github/workflows/bump_deps.yml'
      - '.github/workflows/bump_downstreams.yml'
      - '.github/workflows/ci.yml'
      - '.github/workflows/nix.yml'
      - '.github/workflows/release.yml'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate docs 
        run: |
          cp -rf CHANGELOG.md README.md images docs
          docker login docker.pkg.github.com --username $GITHUB_ACTOR --password ${{ secrets.GITHUB_TOKEN }}
          docker run --rm -v ${PWD}:/docs docker.pkg.github.com/clojure-lsp/docs-image/docs-image -- build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
